
/*========================================================
                    1. Import
=========================================================*/

@import "grid.css";
@import "sf-menu.css";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script:700);

/*========================================================
                    2. Global
=========================================================*/

a[href^="tel:"]{
  color: inherit;
  text-decoration: none;
}
* {
  -webkit-text-size-adjust: none;
}
:focus{
	outline: medium none !important;
}

body{
	background-color: #f5f5f5;
	color: #928e92;
	font: 13px/22px 'Ubuntu';
	font-weight: 300;
	letter-spacing: 0.8px;
}
p{
	letter-spacing: 0.8px;
}
.p-title{
	color: #443f43;
	letter-spacing: 0.6px;
}
.p-title a:hover{
	text-decoration: underline;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: #443f43;
}

h2{
	color: #fff;
	font-size: 62px;
	line-height: 85px;
	letter-spacing: 1px;
}
h3{
	text-transform: uppercase;
	font-size: 42px;
	line-height: 42px;
	letter-spacing: 1px;
	color: #443f43;
}
h4{
	text-transform: uppercase;
	font-size: 22px;
	line-height: 22px;
	color: #443f43;	
}
img{
	width: 100%;
	height: auto;
}
.last{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}


/*========================================================
                    3. Main layout styles
=========================================================*/

/* Header
========================================================*/

header{
	position: relative;
	border-bottom: 1px solid #e4e4e4;
	padding-top: 13px;
	padding-bottom: 16px;
}
header img{
	width: inherit;
	height: inherit;
}

/* Content
========================================================*/

.row_title__first{
	margin-top: 51px;
}

/* Slider
=============================================*/
.camera_caption{
	top: 14%;
}
.camera_caption .camera_caption_block{
	width: 320px;
	margin: auto 0;
	background: rgba(255, 255, 255, 0.9);
	padding: 53px 80px 60px 33px;
}
.camera_caption h3{
	letter-spacing: inherit;
	font-size: 34px;
	line-height: 40px;
	text-transform: none;
}
.camera_caption p{
	text-transform: uppercase;
	font-size: 10px;	
	line-height: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#camera_wrap .camera_caption a{
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #282929;
	font-weight: 700;
	margin-top: 20px;
	transition: all 0.5s ease-out 0s;
}
#camera_wrap .camera_caption a i{
	font-size: 15px;
	line-height: 16px;
}
#camera_wrap .camera_caption a:hover{
	word-spacing: 15px;
	transition: all 0.5s ease-out 0s;
}


/* Info in Columns
=============================================*/
.info-col {
	margin-top: 30px;
}
.info-col_text-block{
	background: #fff;
	padding-bottom: 43px;
}
.info-col_text-block h4, .info-col_text-block p{
	text-align: center;
}
.info-col_text-block h4{
	padding-top: 35px;
	letter-spacing: 0.8px;
}
.info-col_text-block p{
	font-size: 10px;
	line-height: 20px;
	word-spacing: 2px;
	padding: 28px 33px 0 33px;
	text-transform: uppercase;
}
.info-col_text-block .btn{	
	display: block;
	margin: 27px auto 0;
}
.info-col_text-block:hover{
	background: #282929;
}
.info-col_text-block:hover h4, .info-col_text-block:hover p{
	color: #fff;
}
.info-col_text-block .btn{
	width: 118px;
	margin-top: 35px;
	padding: 16px 0px;	
}
.info-col_text-block:hover .btn{
	background: #fff;
	color: #443f43;
	border: none;
}

/* Text Block
=============================================*/

.text_block{
	padding-top: 70px;
}
.text_block h3{
	margin-bottom: 40px;
}
.text_block p{
	margin-bottom: 22px;
}

/* Ad
=============================================*/
.showcase{
	position: relative;
}
.showcase_text{
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
}
.showcase_text span, .showcase_text h2{
	display: block;
	text-align: center;
}
.showcase_text .showcase_logo{
	font-family: 'Oleo Script';
	color: #fff;
	padding-bottom: 20px;
	border-bottom: 2px solid #fff;
	width: 570px;
	margin: 0 auto 50px;
}
.showcase_text .showcase_logo_1{
	font-size: 18px;
	line-height: 18px;
}
.showcase_text .showcase_logo_2{
	font-size: 62px;
	line-height: 45px;
	margin-bottom: 23px;
}
.showcase_text .btn{	
	display: block;
	font-size: 18px;
	line-height: 18px;
	padding: 23px 0;
	margin: 27px auto 0;
	width: 240px;
}

/* Equal-Box
=============================================*/
.box{
	background-color: #fff;
	margin-bottom: 30px;
}
.box:hover{
	background: #282929;
}

/* Buttons
=============================================*/

.btn{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	width: 90px;
	margin-top: 27px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 14px 0px;
	background-color: #282929;
}
.btn:hover{
	color: #443f43;
}
.btn__in-showcase:hover{
	background: #fff;
	border: none;
}

/* Info
=============================================*/
.info{
	padding-bottom: 72px;
}
.info .info_title{
	margin-bottom: 48px;
}
.info_img__top{
	margin-bottom: 23px;
}
.info_img__left{
	width: 170px;
	float: left;
	margin-right: 30px;
}
.info .info-hor h3{
	margin-bottom: 42px;
}
.info-hor img{
	margin-top: 6px;
}

/* List
=============================================*/
.list{
	padding-bottom: 55px;
}
.list .list_title{
	margin-bottom: 42px;
}
.list_row + .list_row{
	margin-top: 30px;
}
.list_row p{
	overflow: hidden;
}

.list_numb{
	position: relative;
	width: 72px;
	height: 72px;
	border-radius: 36px;
	background: #282929;

	float: left;
	margin-right: 28px;
	margin-top: 6px;
}
.list_numb span{
	position: absolute;
	top: 22px;
	left: 22px;
	font-size: 42px;
	font-weight: 300;
	color: #fff;
}

/* Info List
=============================================*/
.info-list{
	padding-bottom: 72px;
}
.info-list img{
	width: 150px;
	float: left;
	margin-right: 30px;
}
.info-list .info-list_img__size{
	width: 270px;
}
.info-list .info-list_date{
	color: #282929;
}
.info-list h3{
	margin-bottom: 42px;
}
.info-list li{
	margin-bottom: 34px;
}
.info-list .p-title{
	margin-bottom: 20px;
}
.info-list .box{
	background: transparent;
}

/* Quotes
=============================================*/

.quotes h3{
	margin-bottom: 42px;
}
.quotes blockquote{
	margin-bottom: 40px;
}
.quotes i{
	font-size: 35px;
	color: #282929;
	min-width: 55px;
	float: left;
	margin-top: 10px;
}
.quotes .blockquote_text{
	overflow: hidden;
}
.quotes .blockqoutes_author{
	margin-top: 22px;
	color: #443f43;
}
.quotes a[href^="mailto:"]{
	text-decoration: underline;
}

/* List in Columns
=============================================*/

.list-col h3{
	margin-bottom: 42px;
}
.list-col i{
	float: left;
	min-width: 18px;
	font-size: 16px;
	font-weight: 700;
	color: #282929;
}
.list-col li:hover i{
	padding-left: 9px;
	min-width: 9px;
}
.list-col ul{
	margin-bottom: -13px;
}
.list-col li{
	margin-bottom: 13px;
}

/* Gallery
=============================================*/

.gallery{
	margin-bottom: -30px;
}
.gallery h3{
	margin-bottom: 48px;
}

.thumbs_img > div{
	position: relative;
}
.lbHover{
	color: #282929;
	font-size: 50px;
	opacity: 0;
	position: absolute;
	top: 40%;
	left: 44%;
	 -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
}
.gallery .lbHover{
	top: 47%;
	left: 40%;
}
.thumbs_img div:hover .lbHover{
	opacity: 0.8;
	 -webkit-transition: all 0.2s linear 0s;
     -moz-transition: all 0.2s linear 0s;
     -o-transition: all 0.2s linear 0s;
     transition: all 0.2s linear 0s;
}

.gallery .gallery_text-block{
	padding: 23px 19px 35px;
}


/* Blog
=============================================*/
.blog h3{
	margin-bottom: 41px;
}
.blog .post{
	margin-bottom: 52px;
}
.post p, .post a, .post time{
	display: inline-block;
}
.post time, .post_author a{
	margin-right: 23px;
}
.post-comments{
	float: right;
}
.post time, .post a{
	color: #282929;
}
.post a:hover {
	color: #443f43;
}
.post .p-title a{
	color: inherit;
}
.post .p-title a:hover{
	text-decoration: underline;
}

.post img{
	margin-top: 24px;
	margin-bottom: 23px;
}
.post .btn{
	color: #fff;
}

/* A-Side
=============================================*/
.a-side h3{
	margin-bottom: 41px;
}

.a-side_list i{
	float: left;
	min-width: 18px;
	font-size: 16px;
	font-weight: 700;
	color: #282929;
}
.a-side_list a:hover i{
	padding-left: 9px;
	min-width: 9px;
}
.a-side_list li p{
	display: inline-block;
}
.a-side_list ul{
	margin-bottom: 65px;
}
.a-side_list li{
	margin-bottom: 13px;
}

.a-side_info img{
	float: left;
	width: 89px;
	margin-right: 28px;
	margin-top: 6px;
}
.a-side_info_block{
	margin-bottom: 41px;
}

/* Search
=============================================*/

.a-side_search h3{
	margin-bottom: 48px;
}

#search input[type="text"]{
	background: transparent;
	border: none;
	padding-top: 5px;
	width: 100%;
}

#search label{
	display: block;
	background: #fff;
	height: 32px;
	width: 100%;
	font: 13px/22px 'Ubuntu';
	color:  #928e92;
	font-weight: 300;
	letter-spacing: 0px;
	border: 1px solid #e4e4e4;
	outline: medium none;
    -webkit-appearance: medium none;
    padding: 0 45px 0 13px;    
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#search{
	position: relative;
	padding-right: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32px;
	width: 100%;
	margin-bottom: 72px;
}
#search a{
	position: absolute;
	top: 4px;
	right: 0px;
	width: 37px;
	height: 23px;
	background: url(../images/search.jpg) no-repeat;
}
#search a:hover{
	cursor: pointer;
	background: url(../images/search-hover.jpg) no-repeat;
}

.search-results_title{
	margin-top: 50px;
}

/* Map
=============================================*/
.map {
	width: 470px;
	float: left;
	margin-left: 0;
	margin-right: 30px;
	margin-top: 48px;
}

.map iframe {
	border: none;
	width: 100%;
	height: 410px;
}

/* Contact
=============================================*/
.contacts{
	margin-top: 42px;
}
.contact_adrress{
	padding-top: 21px;
	padding-bottom: 22px;
}
.contacts span{
	display: inline-block;
	min-width: 100px;
}
.contacts a{
	text-decoration: underline;
}

.feedback h3{
	margin-bottom: 42px;
}

/* Text Block
=============================================*/

.text_block__indent{
	padding: 0;
}
.text_blocks__indent h3{
	margin-bottom: 48px;
}
.text_block a{
	color: #928e92;
	text-decoration: underline;
}
.text_block a:hover {
	color: #443f43;
}
.text_block__indent .p-title{
	margin-bottom: 0;
}

/* To Top Button*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 600px;
    overflow: hidden;
    width: 42px;
    height: 42px;
    border-radius: 500px;
    border: 1px solid #443f43;
    z-index: 20;
    background-color: transparent;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop i{
    color: #443f43;
    font-size: 22px;
    padding-top: 11px;
    padding-left: 12px;
}
#toTop:hover i{
    font-size: 26px;
    padding-top: 11px;
    padding-left: 10px;
}

/* Footer
========================================================*/

footer{
	padding: 80px 0 26px 0;
}
footer > div {
	border-top: 1px solid #e4e4e4;
}
.pr_policy{
	margin-top: 48px;
	font-size: 10px;
	line-height: 10px;
	color: #9c999c;
}
.pr_policy span{
	text-transform: uppercase;
	font-weight: 400;
}

.social{
	float: right;
	margin-top: 30px;
}
.social li{
	display: block;
	float: left;
}
.social li div{
	position: relative;
	margin-left: 10px;
	background: #282929;
	width: 46px;
	height: 46px;
	border-radius: 23px;
}
.social li div:hover{
	background: #443f43;
}
.social li div i{
	position: absolute;
	top: 14px;
	left: 17px;
	font-size: 17px;
	color: #fff;
}
.social li div .fa-facebook{
	left: 19px;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1600px) {
	.camera_caption {
		top: 6%;
	}
	.camera_caption .camera_caption_block{
		padding: 30px 80px 30px 33px;
	}
	.showcase_text{
		top: 9%;
	}
	h2{
		font-size: 50px;
	}
	.showcase_text .showcase_logo{
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 1199px) {
  	h2{
		font-size: 40px;
		line-height: 40px;
	}
	h3{
		text-transform: uppercase;
		font-size: 25px;
		line-height: 25px;
		font-weight: 300;
	}
	.camera_caption .camera_caption_block{
		padding: 10px 80px 10px 33px;
	}
	.camera_caption p{	
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.contacts-in-footer i{
		margin-right: 2px;
	}
	.contacts-in-footer span{
		font-size: 12px;
	}
	.map {
		float: none;
	}
}

@media only screen and (max-width: 1024px) {
	.showcase_text .showcase_logo{
		padding-bottom: 5px;
		border-bottom: 2px solid #fff;
		width: 320px;
		margin: 0 auto 5px;
	}
	.showcase_text .showcase_logo_1{
		font-size: 18px;
		line-height: 18px;
	}
	.showcase_text .showcase_logo_2{
		font-size: 62px;
		line-height: 45px;
		margin-bottom: 23px;
	}
	.showcase_text .btn{	
		font-size: 14px;
		line-height: 14px;
		padding: 14px 0;
		margin: 18px auto 0;
		width: 160px;
	}
	h2{
		font-size: 30px;
		line-height: 30px;
	}
	.post .post-comments{
		float: none;
		display: block;
	}
}

@media only screen and (max-width: 979px) {
	.camera_caption .camera_caption_block{
		width: 295px;
	}
	.camera_caption h3{
		font-style: italic;
	}
	.camera_caption .camera_caption_block_title{
		font-style: normal;
	}
	.camera_caption p{
		display: none;
	}
	#camera_wrap .camera_caption a{
		margin-top: 5px;
	}
	.camera_caption p{
		font-size: 8px;
		line-height: 15px;
	}
	.map {
		float: none;
		width: auto;
		margin-bottom: 30px;
		margin-right: 0;
	}
}
@media only screen and (max-width: 767px) {

	.last{
		margin-bottom: 20px !important;
	}
	.btn{
		margin-top: 15px;
		margin-bottom: 30px;
	}
	.camera_caption .camera_caption_block{
		padding: 5px 80px 5px 33px;
	}
	.camera_caption .camera_caption_block{
		width: 220px;
	}
	.camera_caption h3{
		font-size: 20px;
		line-height: 25px;
	}
	.showcase_text{
		top: 7%;
	}
	.showcase_text .showcase_logo{
		padding-bottom: 2px;
		border-bottom: 2px solid #fff;
		width: 250px;
		margin: 0 auto 5px;
	}
	.showcase_text .showcase_logo_1{
		font-size: 20px;
		line-height: 20px;
	}
	.showcase_text .showcase_logo_2{
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 2px;
	}
	.showcase_text .btn{	
		font-size: 10px;
		line-height: 10px;
		padding: 10px 0;
		margin: 5px auto 0;
		width: 120px;
	}
	.list-col ul{
		margin-bottom: 0px;
	}
	h2{
		font-size: 16px;
		line-height: 16px;
	}
	.social{
		float: none;
	}
	.social li{
		margin-left: 0;
		margin-right: 10px;
	}
}

@media only screen and (max-width: 480px) {
	.camera_caption_block{
		display: none;
	}
	.list_row p {
		overflow: inherit;
	}
	.info-hor img{
		float: none;
		margin-bottom: 10px;
	}
	.showcase_text h2{
		display: none;
	}
	.showcase_text .showcase_logo{
		border: none;
		margin-bottom: 10px;
	}
	.info-list img{
		margin-right: 0;
	}
}

@media only screen and (max-width: 320px) {
	.content_row{
		padding: 10px 0px;
	}
}
/*Core variables and mixins*/

.gallery_to {
	max-width: 1200px;
}

.gallery_to .image {
	width: 200px;
    height: 160px;
    float: left;
    margin: 0 -10px 24px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(border-radius.htc);
    overflow: hidden;
}
.gallery_to a {
	margin-right: 30px;
}

/*.gallery_to a img {
    width:200px; 
    height:133px;
}*/

