#.git
#.gitignore

.DS_Store

.project
.buildpath
.settings

#deploy/
#databases/
img-up/
#Framework/Connection_Data.php


# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
